Flask
Werkzeug
Jinja2

numpy
scikit-learn
scipy
pandas

torch
torchvision
transformers
sentence-transformers
open_clip_torch
clip @ git+https://github.com/openai/CLIP.git

hdbscan

opencv-python
pillow
librosa
pydub
soundfile
ffmpeg-python

tqdm
requests